<style>
	.box{height:100px;}
</style>
<div class="xa-loading">
	<div class="xa-webkit-box">
		<div class="box xa-flex xa-bg-red-click xa-txt-ellipsis xa-txt-white">猜的你的发</div>
		<div class="box xa-flex xa-bg-orange-click"></div>
		<div class="box xa-flex xa-bg-yellow-click"></div>
		<div class="box xa-flex xa-bg-blue-click"></div>
		<div class="box xa-flex xa-bg-green-click"></div>
		<div class="box xa-flex xa-bg-gray-click"></div>
		<div class="box xa-flex xa-bg-black-click"></div>
		<div class="box xa-flex xa-bg-white-click"></div>
	</div>

	<table class="xa-table-line xa-line40">
		<tbody>
			<tr>
				<td>
					<div class="xa-txt-red xa-font-bold xa-txt-ellipsis" style="max-width:300px;">超出省略号哈哈哈啊哈哈哈的超出省略号哈哈哈啊哈哈哈的超出省略号哈哈哈啊哈哈哈的超出省略号哈哈哈啊哈哈哈的</div>
				</td>
			</tr>
			<tr><td class="xa-txt-orange xa-font-bold">这是一行，look the color;</td></tr>
			<tr><td class="xa-txt-yellow xa-font-bold">这是一行，look the color;</td></tr>
			<tr><td class="xa-txt-blue xa-font-bold xa-txt-center">这是一行，look the color;</td></tr>
			<tr><td class="xa-txt-green xa-font-bold">这是一行，look the color;</td></tr>
			<tr>
				<td>
					<div class="xa-webkit-box">
						<div class="xa-txt-gray xa-font-bold xa-flex">这是一行，look the color;</div>
						<div class="xa-bg-red-click xa-font-bold xa-webkit-center" style="height:40px;width:40px;">1</div>
					</div>
				</td>
			</tr>
			<tr><td class="xa-txt-black xa-font-bold">这是一行，look the color;</td></tr>
			<tr><td class="xa-txt-white xa-font-bold">这是一行，look the color;</td></tr>
		</tbody>
	</table>
	
	<div class="xa-popup" style="display:none;">
		<div class="popup-cover"></div>
		<div class="popup-box popup-lines">
			<div><span>编辑</span></div>
			<div><span>删除</span></div>
		</div>
	</div>

<br>

	<div class="xa-tab">
		<div class="active">基本信息</div>
		<div>测试</div>
		<div>合同详情</div>
		<div>合同详情</div>
	</div>
<br>
	<div class="xa-status-tab">
		<div>活动数量</div>
		<div>活动数量</div>
		<div class="checked">赠品数量</div>
	</div>

	<div style="height:200px;"></div>
	<div class="xa-fix-bottom">
		<div class="xa-btns">
			<a class="xa-btn xa-bg-green-click" href="javascript:void(0);">哈哈</a>
			<a class="xa-btn xa-bg-red-click" href="javascript:void(0);">哈哈</a>
		</div>
		<div class="xa-btns xa-webkit-box">
			<a class="xa-btn xa-bg-green-click xa-flex" href="javascript:void(0);">哈哈</a>
			<a class="xa-btn xa-bg-red-click" href="javascript:void(0);">哈哈</a>
		</div>
	</div>
</div>