<style>
	.user-info tr>td:first-child{padding:0 10px;}
	.user-bg{height:160px;background:url(http://7xoxz4.com1.z0.glb.clouddn.com/user_top_bg.jpg);background-size:cover;}
	.user-image{height:100px;width:100px;border-radius:100%;background-size:cover;-webkit-transition:1s;}
	.user-image:hover{-webkit-transform:rotate(360deg);}
	.user-phone{height:40px;width:40px;font-size:20px;color:black;text-decoration:none;}
</style>
<div v-if="$loadingRouteData" class="xa-loading"></div>
<div v-if="!$loadingRouteData">
	<div class="xa-webkit-center user-bg">
		<div class="xa-bg-white user-image" :style="{backgroundImage:'url('+queryData.image+')'}"></div>
	</div>
	<table class="xa-table-line xa-line40 user-info">
		<tbody>
			<tr><td>姓名</td><td>{{ queryData.userName }}</td></tr>
			<tr><td>昵称</td><td>{{ queryData.nickName }}</td></tr>
			<tr><td>邮箱</td><td>{{ queryData.email }}</td></tr>
			<tr><td>生日</td><td>{{ queryData.birthday }}</td></tr>
			<tr>
				<td>电话</td>
				<td>
					<div class="xa-webkit-box">
						<div class="xa-flex">{{ queryData.phone }}</div>
						<a class="xa-bg-white-click xa-webkit-center user-phone iconfont icon-dianhua" href="tel:{{ queryData.phone }}"></a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>